<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password_hash %>
</p>
<p>
	<%=BCrypt::Engine.hash_secret("", @user.password_salt) %>
	<br>
	<%=BCrypt::Engine.hash_secret("abc", @user.password_salt) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
